// Your custom SCSS should be written here...

$row-max-width: 1240px;


h1, h4 {
  font-family: Montserrat, sans-serif;
}

header {
  margin-top: 2em;
  padding: 2em;
  background: #085987;
  text-align: center;
  h1 a:hover, h2 a:hover {
    color: #fff;
  }
  h1 a {
    color: #eef;
  }
  h2 a {
    color: #e2e2f0;
  }
}

nav {
  @extend .navbar;
  background: #f4f4f4;
  ul {
    margin: 0 auto;
  }
  ul.active p a {
    color: #bbb;
  }
  p.skiplink {
    background: inherit;
    &:hover {
      @extend .medium, .oval, .btn;
      background-color: #e5e5e5;
      border: none;
      margin: 0;
    }
    a {
      color: #555;
      &:hover {
        color: $body-link-hover-color;
      }
    }
  }
}

#workshops {
  @include row;
  h3 {
    text-align: center;
    position: relative;
    i {
      position: absolute;
      left: 2em;
      @include font-size($med);
      color: #555;
    }
  }
  section {
    @include clearfix;
    li {
      @include fancytiles(4,2,1);
      padding: 0.5em;
      div.grid-box {
        max-height: em(300px);
        background: #ddd;
        padding: 1em;
        position: relative;
        &:hover {
          background: #e4e4e4;
        }
      }
      .description {
        min-height: em(200px);
        h4, p {
          position: relative;
          z-index: 2;
        }
        h4 {
          padding-top: 0;
          a {
            display: block;
            background: #eee;
            padding: 0.4em;
            text-align: center;
          }
        }
      }
      .div-link {
        position:absolute;
        width:100%;
        height:100%;
        top:0;
        left: 0;

        z-index: 1;

        /* fixes overlap error in IE7/8,
           make sure you have an empty gif */
        background-image: url('img/empty.gif');
      }
      .source-link, .code-link {
        position: relative;
        z-index: 2;
        @extend .small, .default, .btn;
      }
    }
  }
}

footer {
  margin-top: 2em;
  padding: 2em 0;
  background: #085987;
  color: #d2d2d2;
  h3 {
    color: #fff;
  }
  a {
    color: #c1d5e1;
    font-weight: bold;
    &:hover {
      color: #fff;
    }
  }
  div.container {
    @include row;
  }
  p.copyright {
    text-align: center;
    @include font-size(14px);
  }
}
