---
layout: ots
title: "Learning Materials"
---
<header>
  <h1><a href="http://www.opentechschool.org">{{site.name}}</a></h1>
  <h2><a href="{{site.baseurl}}">{{page.title}}</a></h2>
</header>
<nav>
  <a class="toggle" gumby-trigger="nav > ul" href="#">
    <i class="icon-menu"></i>
  </a>
  <ul>
  {% for s in site.sections %}
    <li><p class="skiplink">
      <a href="#{{s.name}}" gumby-goto="[data-target='{{s.name}}']">{{s.name}}</a>
    </p></li>
  {% endfor %}
  </ul>
</nav>
<div id="workshops">
{% for section in site.sections %}
  <section id="{{section.name}}" data-target="{{section.name}}">
    <h3>{{section.name}}<a href="#"><i class="icon-up-open"></i></a></h3>
    <ul>
    {% for tut in section.workshops %}
      <li>
        <div class="grid-box">
          <div class="description">
            <h4><a href="{{tut.url}}">{{tut.title}}</a></h4>
            <p>{{tut.desc}}</p>
          </div>
          {% if tut.source %}
          <div class="source-link icon-left entypo icon-github">
            <a href="{{tut.source}}">Source</a>
          </div>
          {% endif %}
          {% if tut.code %}
          <div class="code-link icon-left entypo icon-code">
            <a href="{{tut.code}}">Code</a>
          </div>
          {% endif %}
          <a href="{{tut.url}}"><span class="div-link"></span></a>
        </div>
      </li>
    {% endfor %}
    </ul>
  </section>
{% endfor %}
</div>
<footer>
  <div class="container">
    <h3>About OpenTechSchool</h3>
    <p>
      OpenTechSchool is a non-profit organisation made up of awesome volunteers
      dedicated to providing free workshops, tutorials, and learning spaces
      for the community. We welcome new members and contributions, and all
      of our resources are available freely on the web.
    </p>
    <p class="copyright">
      &copy; <a href="http://www.opentechschool.org">OpenTechSchool</a>
      || Licensed under 
      <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a>
    </p>
  </div>
</footer>
